
# NotchPay Configuration
# This file contains the environment variables for NotchPay integration.
# Copy this file to .env and fill in the required values.
# Make sure to set the correct values for your NotchPay account.
# You can find your NotchPay credentials in your NotchPay account dashboard.

NOTCHPAY_PUBLIC_KEY=your_public_key_here

NOTCHPAY_PRIVATE_KEY=your_private_key_here

NOTCHPAY_HASH_KEY=your_hash_key_here

NOTCHPAY_DEBUG=true

# FOR TESTING ONLY
# These phone numbers are used for testing purposes only.
# You can use them to simulate successful and failed transactions.
NOTCHPAY_TESTING_SUCCESS_PHONE="+237674481721"

NOTCHPAY_TESTING_FAILED_PHONE="+237674000000"